body {
    background-image: url(https://avatars.mds.yandex.net/i?id=4635b7169cef89ab259d96e60001ba65a6897be2-12471321-images-thumbs&n=13);
}

.imgSet {
    position: absolute;
    right: 0;
    top: 0;
}


